# Secrets variables

# alphavantage.co
[alphavantage]
apikey = ""

# Get FinancialModelPrep.com API key: https://site.financialmodelingprep.com/register
[financial_model_prep]
apikey = ""

# Get FinnHub.io API key: https://finnhub.io
[finnhub]
apikey = ""

# Get Google Cloud Secret
# in format `projects/{gcp_project_id}/secrets/{secret_id}/versions/latest`
[gcp_secrets]
endpoint = ""

[api_config]
timeout_seconds = 5

[passphrases]
p = []