# Secrets variables

# Get FinancialModelPrep.com API key: https://site.financialmodelingprep.com/register
[financial_model_prep]
apikey = ""

# Get FinnHub.io API key: https://finnhub.io
[finnhub]
apikey = ""

[api_config]
timeout_seconds = 5

[pyrebase/firebase]
apiKey = ""
authDomain = ""
databaseURL = ""
storageBucket = ""